{% extends "layout.html" %}

{% block title %}
    Transactions History.
{% endblock %}

{% block main %}

<h1>Transactions History.</h1>
<div class="table-responsive">
    <table class="table table-striped" data-sticky-header="true">
        <thead class="undefined sticky-header">
            <tr>
            <th>Transaction Type</th>
            <th>Stock Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Cash Before</th>
            <th>Cash Spent</th>
            <th>Cash Earned</th>
            <th>Cash After</th>
            <th>Date and time</th>
        </tr>
    </thead>
    <tbody>
        {% if hl > 0 %}
        {% for transaction in history %}
        <tr>
            <td>{{ transaction.transaction_type }}</td>
            <td>{{ transaction.symbol }}</td>
            <td>{{ transaction.shares }}</td>
            <td>{{ transaction.price | usd }}</td>
            <td>{{ transaction.cash_before | usd }}</td>

            {% if transaction.cash_spent != None %}
            <td>{{ transaction.cash_spent | usd }}</td>
            {% else %}
            <td>{{ transaction.cash_spent }}</td>
            {% endif %}

            {% if transaction.cash_earned != None %}
            <td>{{ transaction.cash_earned | usd }}</td>
            {% else %}
            <td>{{ transaction.cash_earned }}</td>
            {% endif %}

            <td>{{ transaction.cash_after | usd }}</td>
            <td>{{ transaction.date_time }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="9">No transactions yet</td>
        </tr>
        {% endif %}
    </tbody>
</table>
</div>

{% endblock %}